.socitImage{

    height: 20px;
    width: 20px;
    
   
}

.SOCITSYLE{
    display: flex;
    flex-direction: column;
    height: 500px;
     border: rgb(12, 4, 1) 10px solid;
     width: 400px;
     border-radius: 5%;
     padding: 3%;
     margin: 5%;
}
.messagSend{
    position: fixed;
    bottom: 13%;
    
    margin: 1%;
}
.btnSoct{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.9;
}
.socketText{

   
    padding: 10px;
    margin: 5px 0 10px 0 !important;
    display: inline-block;
    border: none;
    background: #4a4343;
}
.nsegesdiv{
    border: rgba(17, 21, 11, 0.817) 10px solid;
    
    border-radius: 5%;
    height: 300px;

}