/* .search{
    border: 3px solid #ccc;
  }
  .search input {
    padding: 2vh;
    width: 19vw;
    border-radius: 2%;
    border-right: 0;
    font-size: calc(0.5rem + 0.8vw);
    border: 0;
  }
  .search button{
    padding: 1.5vh;
    border-radius: 2%;
    color: #000;
  color:var(--color-primary);
    background-color: #fff;
    border: 0;
  
  } */