.home-card-category-container{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
    align-items: center;

}
.card-category-wrapper{
    height: 450px; /*500*/
    margin: 30px; /*50*/
    box-shadow: 5px 5px 20px black; 
    overflow: hidden;
    position: relative;
    /* flex-wrap: wrap; */
}
.card-category-image{
    height: 450px; /*500*/
    width: 350px; /*350*/
    border-radius: 3px;
    transition: .5s;
}
.card-category-intro{
    height: 70px;/*200px*/
    width: 350px; 
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background: rgb(27,27,27,0.5);
    color: white;
    transition: .5s;
    /* position: fixed; */

    left:0px; 
    top:-20px;
    margin-top: 20px;
 /* margin-top:200px; */
}
.card-category-intro-title{
    margin: 10px;
    font-size: 40px;
}
.card-category-intro-p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;
}
.card-category-wrapper:hover{
    cursor: pointer;
}
.card-category-wrapper:hover .card-category-intro{
    height: 220px;
    bottom: 240px;
    /* background: #CDD3CC ; */
    box-shadow:#6E726D;
}
.card-category-wrapper:hover .card-category-intro-p{
    opacity: 1;
    visibility: visible;
}


















    /**/
    /* padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */

/* .card-category-wrapper:hover .card-category-image{
    transform: scale(1.1)rotate(-3deg);
} */