.image_grid{
    --gap:16px; /* bunch css properites  this var*/
    --num-cols:4;/* the dash gonna be between the each image 16px*/
    --row-height:300px; /* here each "image row"  gonna 've this height */
    padding: var(--gap); /* by using the var which is 16px .. so basically it takes padding 16px*/
    display: grid; 
    grid-template-columns: repeat(var(--num-cols),1fr); /*for the colmns on the grid er want 4 equal width colmns on the grid */
    grid-auto-rows: var(--row-height);/* we want unlimited amout 300px rows in the grid*/
    gap: var(--gap);
}
.image_grid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* this for the first & single img  [this 2 classes]*/
.image_grid_col_2{
    grid-column: span 2; /* this mean if ur img has this class [the img will take two colmnns]*/ 
}
.image_grid_row_2{
    grid-row: span 2;/*the sam let the single first img take this two rows*/
}
.image_padding{
    padding-bottom: 0px;
}
/* MEDIA QUERIES*/
@media screen and(max-width:1024px) {
    .image_grid{
        --num-cols:2;
        --row-height:200px;
    }
}