.footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:30px;
    background-color: #1a2649;

}
.footer-item{
    color: white;
    padding: 20px;
}
.footer-item-title{
    margin-bottom: 21px;
}
.footer-item-list{
    padding: 5px;
}
.footer-item-link{
    margin-bottom: 12px;
    font-weight: 600;
    cursor: pointer;
}
.footer-item-link:hover{
    text-decoration: underline;
}
/* styling in footer-icons*/
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.footer-icons .icon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer-icons .icon i{
    color: #1a2649;
    font-size: 32px;
}