.header {
  width: 100%;
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: all 1s ease;
  padding: 0 30px;
}
/* logo style*/
.logo {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 60px;
}
.logo-text{
  display: flex;
  flex-direction: column;
}
.logo-text b {
  color: var(--main-color);
}
/*navbar style*/
.navbar-links{
  display: flex;
  align-items: center;
}
.navbar-link{
  margin: 0 17px;
  font-size: 21px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.navbar-link:hover{
  color: var(--main-color);
}
/*header Menu style */
.header-menu{
  font-size: 40px;
  cursor: pointer;
  display: none; /* make it none bc in the laptop screen we dont want it to appear. need it to appear later in another small screens (when dealing with media queries) */
}
/* Media Queries*/
@media (max-width:720px){
  .header{
    justify-content: space-between;
  }
  .header-menu{
    display: block; /* the menu start apear in this width */
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color:aqua;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* this will put the navbar in the most top so we cant see in the screen*/
  }
  .navbar-links{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
  }
  .navbar-link{
    margin: 15px 0;
  }
}