@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Satisfy&display=swap');

.header {
    height: 6vh;
    background-color:#080708;
    background-color:#847D7D; 
    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
  }
  
  .header2 {
    display: grid;
   grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content:space-between;
    height: 13vh;
    padding-bottom: 10px;
    background-color: #F8BDC1;
    /* background-color: #FFDCBA; */
  
    column-gap: 0.1vw;
  }
  .header2 img{
  height:13vh;
  width: 10vw;
  }
  
  .linkhome {
  display: grid;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-size: calc(1rem + 0.8vw);
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr ;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  }
 a{
    color: #fff; 
    /* color: #847D7D; */
    /* color:  #FF2E21; */
    color:#382B2C;
    color: #785B5D;
    color: #664E4F;
  text-decoration: underline;
  justify-content: center;
  align-self: center;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none;
  font-family:'Roboto', sans-serif;

  }